<div class="row">
  <div class="col-md-12 flex flex-space flex-top flex-wrap">
    <div class="col-md-6 col-xs-12 weather-details">
      <h3>Weather temperature details</h3>
      <div>
        <label>Temperature</label>
        <p>{{convertToCelsius(weather.temp) | number: '1.2'}}<sup>o</sup> C</p>
      </div>
      <div>
        <label>Min temperature</label>
        <p>{{convertToCelsius(weather.temp_min) | number: '1.2'}}<sup>o</sup> C</p>
      </div>
      <div>
        <label>Max temperature</label>
        <p>{{convertToCelsius(weather.temp_max) | number: '1.2'}}<sup>o</sup> C</p>
      </div>
      <h3>Weather other details</h3>
      <div>
        <label>Pressure</label>
        <p>{{weather.pressure}}</p>
      </div>
      <div>
        <label>Visibility</label>
        <p>{{weather.visibility}}</p>
      </div>
    </div>
    <div class="col-md-5 col-xs-12 weather-details">
      <h3>Wind details</h3>
      <div>
        <label>Wind speed</label>
        <p>{{weather.speed}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h3>City details</h3>
    <div class="city-details flex flex-wrap flex-space">
      <div>
        <label>City name</label>
        <p>{{weather.name}}</p>
      </div>
      <div>
        <label>Country</label>
        <p>{{weather.country}}</p>
      </div>
    </div>
  </div>
</div>
