<div class="component">
    <div class="header">
      <div class="row flex flex-center flex-wrap">
        <div class="col-sm-6 col-xs-12">
          <span class="city-name">
            {{cityName}}, {{cityWeather.country}}
          </span>
          <span class="city-temp">
            {{convertToCelsius(cityWeather.temp ) | number: '1.2'}}<sup>o</sup> C
          </span>
        </div>
        <div class="col-sm-6 col-xs-12 text-right weather-category-container">
          <span class="weather-category">Weather category: {{cityWeather.description}}</span>
          <span><img src={{cityWeather.icon}} alt={{cityWeather.icon}} title={{cityWeather.description}}/></span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="city-filters flex flex-wrap flex-bottom">
          <div>
            <label for="city-name-input">Search city</label>
            <input id="city-name-input" type="text" placeholder="Fill your city name" [(ngModel)]="tempCityName"/>
          </div>
          <div>
            <button class="btn btn-primary" (click)="getCityName()">Check details</button>
          </div>
        </div>
        <app-city-weather-details [weather]="this.cityWeather"></app-city-weather-details>
      </div>
    </div>
</div>
